body{
	margin: 0;
	padding: 0;
	background-image: url(blur.jpg);
	background-size:cover;
	background-size: 100%;
	
	
}
.abcd{
	
	width: 600px;
	height: 400px;
	background: black;
	color:#fff67c;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	background-color:black;
	padding: 30px 60px;
}.abcd input[type="submit"]
{
	margin: 25px;
	background:073b77;
	
	font-size: 16px;
	border-radius: 18px;	
	

}
.loginbox{
	
	width: 600px;
	height: 400px;
	background: #000;
	color:#fff67c;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	background-color:black;
	padding: 30px 60px;
}
h1{
	text-decoration: underline;
	text-align: center;
	font-size:40px;
}
.loginbox p{
	
	font-weight: bold;
	font-size:15px;
	
	
}
.loginbox input
{
	text-align:center;
	
	
	
}
.loginbox a
{
	font-size: 14px;
	color: #fff67c;
	
}

.loginbox input[type="submit"]
{
	margin: 25px;
	background:#073b77;
	color:#fff;
	font-size: 16px;
	border-radius: 18px;	
	

}
	